<article *ngFor="let news of newsList" class="news">
  <img [src]="news.img" alt="" class='news__img'>
  <div class="news__body">
    <h2 class="news__title">{{news.title}}</h2>
    <p class="news__date">{{news.date}}</p>
    <div class="news__text">{{news.text}}</div>
    <a href="/single-news" class="news__show-more">Read More ></a>
  </div>
  <div class="news__edit">
    <a class="button" href="/edit">Edit</a>
    <button class="button" (click)="delete()">Delete</button>
  </div>
</article>
<div class="news-list__more">
  <button class="button" (click)="loadMoreNews()">Load More</button>
</div>