@import "../../../../scss/variables";

.news {
    border: 1px solid $color-grey;
    display: flex;
    padding: 15px;
    margin-bottom: 20px;
}

.news__title {
    margin: 0;
}

.news__img {
    max-width: 220px;
    flex-basis: 220px;
    height: auto;
    flex-shrink: 0;
    align-self: flex-start;
}

.news__date {
    font-size: 1.3rem;
    color: $color-grey;
}

.news__show-more {
    display: block;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: $semibold;
    color: $color-accent;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.news__body {
    flex-grow: 1;
    padding: 0 15px;
}

.news__edit {
    display: flex;
    flex-direction: column;
    .button {
        margin-bottom: 15px;
    }
}

.news-list__more {
    text-align: center;
}